.get-started-button{
    background-color: rgb(229,9,20,1);
    cursor: pointer;
   font-size: 18px ;
}

.center-element{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.header-element{
text-align: end;
}

body{
    
    background: url(./1693150322893.jpeg) ;
}

#Email{
    font-size: 18px;
}

.navbar{
    color: black;
}
